body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #D9EAD3;
}

p{
    max-width: 400px;
    text-align: center;
}

h2{
    font-size: xx-large;
    color: #5B8C5A;
}

#hanna{
    background-image: url(/bilder/Hanna.jpg);
}

#evelyn{
    background-image: url(/bilder/Evelyn.jpg);
}

#julia{
    background-image: url(/bilder/Julia.jpg);
}

.usPicture{
    height: 270px;
    width: 280px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}