body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
    background-color: #D9EAD3;
}

#welcomeText{
max-width: 300px;
font-size: 30px;
}

#registration{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #e6f4f1;
    border: solid 1px gainsboro;
    font-size: 14px;
    margin-top: 20px;
}

#logedIn-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 7vh;
}

#logedIn-wrapper > a {
    width: 130px;
    height: 125px;
    text-align: center;
    font-size: 14px;
    background-color: #5B8C5A;
    border: 1px solid white;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

