:root {
    --iceblue: #e6f4f1;
    --red: #842700;
    --darkblue: #005c84;
    --lightblue: #8ccbd6;
}

.nav-container-closed{
    color: #181307;
    background-color: #e6d7b5;
    width: 100vw;
    height: 60px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    transition-timing-function: ease-in-out;
}

.nav-container-opened{
    background-color: #99c5a4;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    transition-timing-function: ease-in-out;
}
  
  
.menu-closed{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 17px;
    left: 15px;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
  
.menu-opened{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 17px;
    left: 15px;
    transform: rotate(90deg);
    transition: 1s;
    transition-timing-function: ease-in-out;
}
  

.text-container-hidden{
    opacity: 0%;
    transition: 0.5s;
    visibility: hidden;
    position: fixed;
    height: 80vh;
}
 

.text-container-visible{
    opacity: 100%;
    visibility: visible;
    color: white;
    transition: 0.5s;
    transition-delay: 0.5s;    
    position: fixed;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.logotyp{
    height: 110px;
    width: 110px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

.text{
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 4vh  0 0 0;
    padding: 20px;
    width: 80vw;
    border-bottom: solid 1px rgba(255, 255, 255, 0.641);
}

a{
    text-decoration: none;
}

.profile-closed{ 
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 17px;
    right: 15px;
    transition: 1s;
    transition-timing-function: ease-in-out;
}
  
.profile-opened{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 17px;
    right: 15px;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.profile-container-hidden{
    opacity: 0%;
    transition: 0.5s;
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}
 

.profile-container-visible{
    opacity: 100%;
    visibility: visible;
    transition: 0.5s;
    transition-delay: 0.5s;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}

#close-hidden {
    position: fixed;
    visibility: hidden;
    opacity: 0%;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#close-visible {
    position: fixed;
    visibility: visible;
    opacity: 100%;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

#profile-symbol-visible {
    visibility: visible;
    opacity: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#profile-symbol-hidden {
    visibility: hidden;
    opacity: 0%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#line-menu-hidden {
    visibility: hidden;
    opacity: 0%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

#line-menu-visible {
    visibility: visible;
    opacity: 100%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.header-name{
    position: fixed;
    margin: 0;
    top: 17px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.text-login {
    width: 40vw;
    border-bottom: solid black 2px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-reg {
    width: 40vw;
    border-bottom: solid black 1px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-login:hover, .text-reg:hover {
    cursor: pointer;
}

#input-login-hidden{
    opacity: 0%;
    transition: 0.5s;
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 12px;
}

#input-login-visible{
    opacity: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
    visibility: visible;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #e6f4f1;
    border: solid 1px gainsboro;
    font-size: 12px;
}

.inp {
    margin-bottom: 8px;
}

.login-button-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 80px;
}

.reg-button {
    width: 100px;
}

.reg-button:hover, .login-button:hover{
    cursor: pointer;
}

#reg-login-hidden {
    opacity: 0%;
    transition: 0.5s;
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 12px;
}

#reg-login-visible{
    opacity: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
    visibility: visible;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #e6f4f1;
    border: solid 1px gainsboro;
    font-size: 12px;
}

#profile-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#error-message {
    height: 200px;
    font-size: 12px;
}

@keyframes shake {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(3em);
    }
    40% {
      transform: translate(-3em);
    }
    60% {
      transform: translate(3em);
    }
    80% {
      transform: translate(-3em);
    }
    100% {
      transform: translate(0);
    }
  }

  #input-login-visible.shake {
    animation: shake 0.5s;
  }


