body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F2F9F0;
}

#header {
  margin-top: 70px;
  color: #5B8C5A;
  text-shadow: #5b8c5a 1px 1px 1px;
}

#wrapper {
  width: 90vw;
}

.plantDiv-opened > img {
  width: 100%;
  border-radius: 20px;
  height: 400px;
  transition: height, 0.5s;
}

.plantDiv-opened {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #D9EAD3;
  color: #213320;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 50px;
  border: #5B8C5A solid 10px;
  max-width: 80vw;
  height: auto;
}

.plantDiv-closed {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #D9EAD3;
  color: #213320;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 300px;
  border-radius: 50px;
  border: #5B8C5A solid 10px;
  transition: border 0.2s;
  max-width: 80vw;
}

.plantDiv-closed > p {
  display: none;
}

.plantDiv-closed > img {
  height: 0px;
  transition: height, 0.5s;
}

p > p:nth-child(1){
  padding: 5px;
}