body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#wrapper{
    max-width: 400px;
}

.plantDiv-opened > img{
    width: 350px;
    height: 490px;
}

.plantDiv-opened{
     margin-top: 20px;
    background-color: greenyellow;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 50px;
}

.plantDiv-closed{
    margin-top: 20px;
   background-color: greenyellow;
   display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 300px;
 border-radius: 50px;
}

.plantDiv-closed > p{
  display: none;
}

.plantDiv-closed > img{
    height: 0px;
}



