body {
    overflow-x: hidden;
    width: 100vw;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: blue;
}

#buttonsTop {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

#buttonsTop > button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;

    width: 184px;
    height: 52px;
}

#buttonsTop > button > span {
    margin-left: 10px;
}

#addPlantList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    background-color: rgb(184, 184, 184);

    margin: 5px;
    width: 380px;
    height: fit-content;
}

#addPlantList > div {
    height: 46px;
    width: 190px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}

#addPlantList > div > h3 {
    margin: 15px;
    text-align: left;
}

#addPlantList > div > h3 > span {
    top: 2px;
    right: 10px;
    position: absolute;
}

#addPlantList div:nth-child(4n+3) {
    background-color: gainsboro;
}
#addPlantList div:nth-child(4n+2) {
    background-color: gainsboro;
}

#addNewPlant {
    width: 184px;
    height: 53px;
    align-self: center;
    position: relative;

    display: flex;
    text-align: left;
    align-items: center;
    
    font-size: medium;
}

#addNewPlant > span {
    right: 5px;
    position: absolute;
}

#addPlantForm {
    background-color: gainsboro;
    margin: 5px;
    height: 206px;
    width: 380px;

    position: relative;
}

#leftSideForm {
    left: 5px;
    position: absolute;

    width: 190px;
}

#rightSideForm {
    right: 10px;
    top: 20px;
    position: absolute;
    
    width: 150px;
}

#infoInput {
    height: 50px;
}

#flowerInput {
    width: 46px;
}

#waterInput {
    width: 46px;
}

#sunInput {
    width: 120px;
}

#addButton {
    position: absolute;
    right: 10px;
    bottom: -50px;
    
    display: flex;
    text-align: left;
    align-items: center;

    font-size: medium;
}

#plantWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: fit-content;
    gap: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.userPlantDiv {
    border: solid black 2px;
    border-radius: 10%;
    height: 240px;
    width: 175px;
    margin-top: 5px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.userPlantDiv > h3 {
    font-size: 24px;
}

.userPlantDiv > p {
    font-size: 18px;
}

#plantButtons {
    position: absolute;
    bottom: 5px;
}

#plantButtons > span {
    border: solid black 1px;
    border-radius: 10%;
}

/* Ikoner */
.material-symbols-outlined {
    font-size: 42px;
}

.add_plant {
    font-size: 30px;
}

.close {
    font-size: 24px;
    color: gray;
}

.menu-lines {
    font-size: 24px;
}

.account_icon {
    font-size: 24px;
}

.close-icon {
    font-size: 24px;
}