body {
    overflow-x: hidden;
    width: 100vw;
    margin: 60px 0px 0px 0px;
    background-color: #D9EAD3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #213320;
}

#header {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #213320;
    text-decoration: underline;
    text-shadow: #5b8c5a 1px 1px 1px;
    text-align: center;
}

#buttonsTop {
    width: 360;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px auto 5px auto;
}

#buttonsTop > button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    color: #213320;

    width: 180px;
    height: 52px;

    background-color: #f2f9f0;
    border: #5B8C5A 2px solid;
    border-radius: 5px;
}

#buttonsTop > button > span {
    margin-left: 10px;
}

#addPlantList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    background-color: #D9EAD3;
    border: #5B8C5A 2px solid;
    border-radius: 5px;

    margin: 5px auto 5px auto;
    width: 360px;
    height: 184px;
    overflow-y: scroll;
}

#addPlantList > div {
    height: 46px;
    width: 180px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}

#addPlantList > div > h3 {
    margin: 5px;
    text-align: left;
    font-size: large;
}

#addPlantList > div > h3 > span {
    top: 2px;
    right: 0px;
    position: absolute;
}

#addPlantList div:nth-child(4n+3) {
    background-color: #f2f9f0;
}
#addPlantList div:nth-child(4n+2) {
    background-color: #f2f9f0;
}

#addNewPlant {
    width: 184px;
    height: 53px;
    align-self: center;
    position: relative;

    display: none;
    text-align: left;
    align-items: center;
    
    font-size: medium;
    color: #213320;
    background-color: #f2f9f0;
    border: #5B8C5A 2px solid;
    border-radius: 5px;
}

#addNewPlant > span {
    right: 5px;
    position: absolute;
}

#addPlantForm {
    background-color: #f2f9f0;
    margin: 5px;
    height: 206px; 
    width: 380px;
}

#leftSideForm {
    margin-left: 5px;
    width: 190px;
}

#rightSideForm {
    margin-top: 28px;
    margin-left: 15px; 
    width: 150px;
}

#nameInput {
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 3px;
}

#latinInput {
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 3px;
}

#infoInput {
    height: 50px;
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 3px;
}

#flowerInput {
    width: 46px;
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 3px;
}

#waterInput {
    width: 35px;
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 3px;
}

#sunInput {
    width: 100px;
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 3px;
}

#addButton {
    right: 10px;
    bottom: -50px;
    
    display: flex;
    text-align: left;
    align-items: center;

    font-size: medium;
    color: #213320;
    background-color: #fbfffa;
    border: #5B8C5A 2px solid;
    border-radius: 5px;
}

#plantWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: fit-content;
    gap: 5px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;

}

.userPlantDiv {
    border: solid #5B8C5A 2px;
    border-radius: 10%;
    height: 240px;
    width: 175px;
    margin-top: 5px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: #f2f9f0;
}

.userPlantDiv > h3 {
    font-size: 24px;
}

.userPlantDiv > p {
    position: absolute;
    font-size: 18px;
    top: 40px;
}

#plantButtons {
    position: absolute;
    bottom: 5px;
}

#plantButtons > span {
    border: solid black 1px;
    border-radius: 10%;
}

/* Ikoner */
.material-symbols-outlined {
    font-size: 42px;
}


.add_plant {
    font-size: 30px;
}

.close {
    font-size: 24px;
    color: gray;
}

.menu-lines {
    font-size: 24px;
}

.account_icon {
    font-size: 24px;
}

.close-icon {
    font-size: 24px;
}

.warning_bugs {
    visibility: hidden;
    position: absolute;
    bottom: 55px;
}

.notLoggedIn{
    height: 93vh;
    width: 100vw;
    position: absolute;
    z-index: 4;
    background-color: #E4B4D2;
    top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notLoggedInText{
height: 70vh;
width: 80vw;
background-color: #D9EAD3;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
border-radius: 20px;
}

.infoBut{
    position: relative;
    top: 25px;
}